:root {
  --color-light: #fff;

  --header-height: 70px;
  --footer-height: 50px;

  --page-padding: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
